.translator-parent {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input-text-area { 
    resize: none;
    width: 438px;
    height: 228px;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #393a3d;
    color:white;
}


.output-video {
    width: 480px;
    height: 270px;
    border-radius: 8px;
}


.input-output-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}

.translate-button {
    opacity: 1;
    font-size: 20px;
    background-color: #393a3d;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    height: 80px;
    width: 140px;
}

.translate-button:hover {
    opacity: 1;
    background-color: #45464a;
    transform: scale(1.05);
    cursor: pointer;
}
