input:hover {
    transform: scale(1.008);
}

input.btn[type="submit"]:hover {
    border: 1px solid black;
}

.translate-button {
    opacity: 1;
    border-radius: 8px;
    height: 25px;
    margin-left: 550px;
    margin-top: 50px;
}

.translate-button:hover {
    opacity: 1.2;
    transform: scale(1.05);
}

.input-box {
    width: 30vw;
    height: 16vw;
    margin-left: 35px;
    background-color: #Ececda;
    border-radius: 9px;
    box-shadow: 4px 4px 4px 4px rgba(37, 33, 33, 0.192);
    position: left;
    border-radius: 10px; /* Set border radius for rounded corners */
    padding: 20px; /* Add some padding for better visual appearance */
    min-width: 200px; /* Set a maximum width for the chatbox */
  }

.input-box::placeholder {
    position: absolute;
    top: 3px;
    left: 3px;
}

.side-by-side-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    width: 30vw;
    height: 16vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}