.AboutPage {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.about-mission-container {
  display: flex;
  gap: 20px; 
  margin-bottom: 60px;
  justify-content: center;
}

.mission-statement-container {
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.mission-statement {
    margin-top: 100px;
    /* color: white; */

}

.team-member-text {
    margin-top: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
}

.team-member-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
    color: white;
    margin-bottom: 50px;
}

.team-member-pic {
  width: 270px;
  height: 270px;
  border-radius: 15px;
}
.team-member-pic:hover {
  transform: scale(1.03);
}

a {
  text-decoration: none;
  color: white;
}

.homepage-translate-button {
    opacity: 1;
    font-size: 25px;
    font-weight: bolder;
    background-color: #393a3d;
    color: white;
    border-radius: 8px;
    height: 100px;
    width: 280px;

}

.homepage-translate-button:hover {
    transform: scale(1.05);
}