* {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  /* background: linear-gradient(to top right, #485158, #8eb7df); */
  /* background-color: #Ececda; */
}

.head-text {
  text-align: center;
  color: #Ececda;
}

.text {
  color: #Ececda;
}