* {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;

  /* background: linear-gradient(to top right, #485158, #8eb7df); */
  /* background-color: #Ececda; */

}

.head-text {
  color: #Ececda;
}

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.side-by-side-items {
  display: flex;
  justify-content: space-between;

}

.text {
  color: #Ececda;
}